.pageNotFound {
  width: 100%;
  /* calcula altura mínima com base no viewport - cabeçalho, rodapé e paddings */
  min-height: calc(100vh - (60px + 84px));
  margin-top: 60px;

  /* alinha o vídeo ao centro */
  display: flex;
  justify-content: center;
  align-items: center;

  /* elementos um abaixo do outro */
  flex-direction: column; 
}