* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .cards{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
} */

/* scroll */

body::-webkit-scrollbar {
  /* largura do scroll */
  width: 12px;
  /* cor de fundo do scroll */
  /* background-color: #222; */
}

body::-webkit-scrollbar-track {
  /* cor de fundo do scroll */
  background: #222;
}

body::-webkit-scrollbar-thumb {
  background-color: #b71c1c;
  border-radius: 20px;
  border: 3px solid #222;
}